.site__main{

    section{
        * {
            padding : 0.5em
        }
        border-radius: 10px;
        padding: 1em;
        margin: 1em;
        
        p {
            max-width: 70ch;
            font-size: 1.5em;
        }


    }
}