.menu__bloc {

    .menu {

        display: flex;
        flex-wrap: nowrap;
        list-style: none;
        border: 1px solid lightgrey;
        margin: 0.5em;
        border-radius: 10px;
        .menu-item { // li
            min-height: 5em;
            border-radius: 10px;

            a {
                font-size: 1rem;
                color: black;
                text-decoration: none;
            }

        }
    }
}

.evenement__porte {

    background-image: url('https://s2.svgbox.net/octicons.svg?ic=bell') ;
    background-repeat: no-repeat;

}