.menu__bloc {

    .menu {

        display: flex;
        flex-wrap: wrap;
        list-style: none;

        .menu-item { // li
            border: 4px solid black;

            a {
                font-size: 2rem;
                text-decoration: none;
            }

        }
    }
}

.evenement__porte {

    background-image: url('https://s2.svgbox.net/octicons.svg?ic=bell') ;
    background-repeat: no-repeat;

}